# Supabase Configuration
VITE_SUPABASE_URL=https://tptzndshdlzwezopbbqy.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_w6ouOzOE-iUHmSFVkzkSLQ_tFSEF9ZB

# AI Configuration
VITE_GEMINI_API_KEY=AIzaSyDdSr5pR60dQv-7KzWQ3zhvpYTfIvqQHK4Okay